<div class="row-fluid">
	<input type="text" placeholder="{{ 'Create'~" "~"a content" | trans({}, 'content') }}..." class="span12">
	<div class="label span12">
		sd
	</div>
	<a class="btn">{{ 'Create' | trans({}, 'content') }}</a> 

	<div class="navbar navbar-static-bottom">
		
	</div>

</div>

