<div class="row-fluid">
	<div class="label span12">
	<input type="text" placeholder="{{ 'Create'~" "~"a content" | trans({}, 'content') }}..." class="span12">

	<a class="btn">{{ 'Create' | trans({}, 'content') }}</a> 
		
	</div>
</div>

