<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ "Error" | trans({}, "content")}}!</h3>
</div>
<div class="modal-body">
    <p>{{ "An error occurred" | trans({}, "content")}}.</p>
    <p>{{ "Please try again later or check your internet connection" | trans({}, "content")}}...</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ "Ok" | trans({}, "content")}}</button>
</div>
