{% if content != null %}

{{ creator | raw }}

{% if father is not defined %}
    <div class="content row-fluid">
        {{ content | raw }}
    </div>
{% else %}
    {{ content | raw }}
{% endif %}

{% endif %}
