<div class="btn-group" style="position:absolute;right:5px;top:5px">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-cog"></i> 
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a>Edit</a></li>
        <li><a>Delete</a></li>
        <li><a>Size</a></li>
    </ul>
</div>

